.breadcrumbs {
    color: black;
    display: flex;
    gap: 0.75rem;
    background: white;

    transition: all 0.3s;
}

.breadcrumbs-item {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}


.header-container{
    display:flex;
    height: 50px;

    border-bottom: 1px solid #e0e0e0;
}

.header-greeting{
    margin: auto 20px auto auto;
}