section.navigation_container{
    display: flex;
    flex-direction: column;

    height: auto;
    width: 200px;

    min-height: 100vh;
    
    background: rgb(61, 61, 61);
    color: white;
}

.tab_link{
    color: rgb(127, 127, 127);
    cursor: pointer;
    text-align: center;
    height: 25px;
    padding: 10px 10px 10px 20px;

    transition: all 0.3s;

    display: flex;
    gap: 5px;
    align-items: center;
}

.tab_link svg{
    width: 25px;
    font-size: 16px;
}

.navigation_container>*{
    text-decoration: none;
}

.tab_link:hover{
    color: white;
}

div.navigation_logo{
    height: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;

    display: flex;
    
    padding: 10px;   
    font-weight: bold;
    font-size: 20px;

    background-color: #0095ff;
}

.active{
    color:white;
}

.active::before{
    content: "";
    width: 4px;
    height: 20px;
    background-color: #0095ff;
    position: absolute;
    left: 0;
}